.resultPageContainer {
    .examPageContainer {
        height: 60px;
        display: flex;
        flex-direction: row;
        background-color: white;
        width: 100%;

        .closeBtn {
            font-weight: 500;
            width: 8%;
            display: flex;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
            align-items: center;
            justify-content: center;
        }

        .middleHeader {
            width: 92%;
            display: flex;
            flex-direction: row;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
            align-items: center;
            cursor: pointer;

            .middleTitle {
                color: #0078eb;
                font-weight: bold;
                padding-left: 15px;
                margin-right: 250px;
            }
        }

        .finish {
            font-weight: 500;
            color: #28a745;
            width: 8%;
            display: flex;
            align-items: center;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
            justify-content: center;
        }
    }
}

.mainResult {
    margin-top: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    .resultTilte {
        width: 12%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;

        .scoreReport {
            text-align: center;
            font-size: 16px;
            font-weight: bold;
        }

        .testName {
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            color: #0078eb;
        }
    }

    .mainContent {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        justify-content: space-between;

        .leftContent {
            width: 30%;


            .row {
                display: flex;
                flex-direction: column;
                padding: 10px;

                .rowItems {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    .rowCat {
                        color: #6c757d;

                        margin-right: 10px;
                    }

                    .rowData {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }

            .cardContent {

                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-weight: bold;

                div {
                    margin-bottom: 10px;
                }
            }
        }

        .rightContent {
            width: 65%;
            display: flex;
            flex-direction: column;

            .upperContent {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 20px;

                .cardContent {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;

                    div {
                        margin-bottom: 10px;
                    }
                }
            }

            .lowerContent {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .cardContent {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;

                    div {
                        margin-bottom: 10px;
                    }
                }
            }

        }



    }

}