.topMenuContainer {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 100%;
    background-color: white;
    padding: 0px 20px 0px 20px;
    border: 1px solid #dee2e6;
    height: 60px;

    .topMenuOptions {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        font-size: 16px;

        ul {
            font-size: 16px;
            display: flex;
            height: 100%;
            padding-top: 10px;
            justify-content: space-between;

        }
    }
}