.grammarPracticeContainer {
    .grammarHeader {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;

        .progress {
            display: flex;
            width: 90%;
            position: relative;
            align-items: center;

            .progressPin {
                position: absolute;
                margin-top: -32px;
                margin-left: -28px;
            }
        }
    }

    .practiceContainer {
        cursor: pointer;
        width: 90%;
        display: flex;
        flex-direction: row;
        padding-left: 50px;
        padding-bottom: 10px;
        border-bottom: 0.5px solid #495057;

        &:hover {
            background-color: gainsboro;
            transition: background-color 0.3s ease;

        }


        .practiceContent {
            display: flex;
            width: 60%;
            flex-direction: column;
            justify-content: flex-start;



            .practiceTitle {
                font-weight: 400;
                font-size: 16px;
            }

            .practiceLevel {
                font-size: 13px;
            }
        }

        .practiceStatus {
            display: flex;
            align-items: center;
            margin-left: 25%;
        }
    }
}